.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #282464;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: fixed;
    /* fixed trên cùng */
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.menu-item {
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    border-left: 1px solid #ccc;
    white-space: nowrap;
}

.menu-item:hover {
    color: red;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1000;
    display: none;
    /* Ẩn mặc định */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.menu-item:hover>.submenu,
.submenu.visible {
    display: block;
    /* Khi hover hoặc có class visible thì hiện */
}

.submenu-item {
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    background-color: white;
    position: relative;
}

.submenu-item:hover {
    background-color: red;
    color: white;
}

.submenu-item>.submenu {
    top: 0;
    left: 100%;
}

input[type="text"] {
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}